# by autoconf
/autom4te.cache/
/configure

# by configure
Makefile
/config.log
/config.status
/EMMC_THGBMDG5D1LBAIL/write_emmc_boot.inc
/EMMC_THGBMDG5D1LBAIL/fsetup.sh
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld20-global.txt
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld20-global-android.txt
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld20-global-androidkk.txt
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld21-global.txt
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld21-global-android.txt
/EMMC_THGBMDG5D1LBAIL/usb_update_ph1-ld21-global-androidkk.txt
/EMMC_THGBMDG5D1LBAIL/usb_update
/EMMC_THGBMHG6C1LBAIL/write_emmc_boot.inc
/EMMC_THGBMHG6C1LBAIL/fsetup.sh
/EMMC_THGBMHG6C1LBAIL/usb_update_ph1-ld20-global-v4.txt
/EMMC_THGBMHG6C1LBAIL/usb_update_ph1-ld20-global-v4-android.txt
/EMMC_THGBMHG6C1LBAIL/usb_update_ph1-ld20-global-v4-androidkk.txt
